
<ion-content class="color" padding>

  <!-- Back Button at the top of the Page -->
  <button class="back-btn" navPop><ion-icon class="icon-back" name="arrow-back"></ion-icon></button>

  


</ion-content>
