page-choose-game {
    .icon-back {
        font-size: 18pt;
    }

    .back-btn {
        border-radius: 0px;
        background-color: #488aff;

    }

    .color {
        background-color: #488aff;
    }
}
