<ion-header>

</ion-header>

<ion-content class="color" padding>

  <button class="create-game-btn" [navPush]="editorPage" ion-button color="warning">{{ createGame }}</button>
  
  <p class="head-title-ios" showWhen="ios">SQUASH!</p>
  <p class="head-title-android" showWhen="android">SQUASH!</p>

  <ion-list class="list-width">
    <ion-item class="color">
      <ion-input class="input-text-color" name="spieler1" placeholder="Spieler 1"></ion-input>
    </ion-item>
    <ion-item class="color">
      <ion-input class="input-text-color" name="spieler2" placeholder="Spieler 2"></ion-input>
    </ion-item>
    <ion-item class="color">
      <ion-input class="input-text-color" name="spieler3" placeholder="Spieler 3"></ion-input>
    </ion-item>
  </ion-list>
  <button class="add-btn" ion-button color="secondary"><ion-icon name="add"></ion-icon></button><br>
  <button class="start-btn" [navPush]="chooseGamePage" ion-button color="warning">{{ start }}</button>
  
</ion-content>
