page-home {

    .head-title-android {
        font-size: 22pt;
        margin-left: 32%;
        color: white;
    }

    .head-title-ios {
        font-size: 22pt;
        margin-left: 30%;
        color: white;
    }

    .create-game-btn {
        margin-left: 2%;
        margin-top: 2%;
    }

    .color {
        background-color: #488aff;
    }

    .input-text-color {
        color: white;
    }

    .list-width {
        width: 75%;
        margin: 0 auto;
        margin-top: 25%;
    }

    .add-btn {
        margin-left: 13%;
        margin-top: 5%;
        height: 4.5%;
        width: 9%;
    }

    .start-btn {
        color: white;
        font-weight: bold;
        text-shadow: 0 0 5px black;
        margin-left: 25%;      
        margin-top: 20%;
    }
}
